* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(211, 180, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: white;
    border: 3px solid black;
    padding: 15px;
}