* {
    padding: 0%;
    margin: 0%;
}

form {
    display: flex;
    background-color: gray;
    flex-direction: column;
    padding: 20px;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

label {
    visibility: hidden;
}

input:focus+label {
    visibility: visible;
    animation: zeka .5s ease;
}

img {
    width: 30px;
}

div {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: blue;
    padding: 5px;
}

/* Animation */

@keyframes zeka {

    from {
        transform: translateY(4px);
    }

    to {
        transform: translateY(0px);
    }
}

/* input:focus+label {
    visibility: visible;
} */

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate .7s infinite linear forwards;
}